@bin-checkpoint-background-color: #f3f3f4;

.bin-checkpoint-container {
  max-width: 350px;
  margin: 40px auto;
  text-align: center;

  .well {
    padding: 40px;
    margin-bottom: 40px;
    text-align: left;
    background: @bin-checkpoint-background-color;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);

    legend {
      color: darken(@bin-checkpoint-background-color, 25%);
      margin-top: -20px;
      margin-bottom: 30px;
    }

    .bin-checkpoint-profile-img {
      width: 100px;
      margin: 0 auto 40px;
      display: block;
    }
  }
}

.bin-checkpoint-form {
  .form-group {
    position: relative;
    input {
      padding-left:  38px;
      height: 44px;
    }

    .addon {
      position: absolute;
      top: 4px;
      left: 2px;
      height: 36px;
      line-height: 36px;
      width: 30px;
      text-align: center;
      color: darken(@bin-checkpoint-background-color, 35%);
      border-right: 1px solid darken(@bin-checkpoint-background-color, 10%);
      pointer-events: none;
    }
  }

  button {
    margin-bottom: 10px;
  }
}